
<div style="width:80%; margin-left:10%; margin-right:10%;" *ngIf="!winningMessage; else someonewon">
  <mat-grid-list [cols]="boardDimensions"  rowHeight="50px">
    <ng-container *ngFor="let row of board">
      <mat-grid-tile
          *ngFor="let tile of row"
          colspan="1"
          rowspan="1"
          [style.background]="tile.color">
          <app-checkerboard-tile [tile]="tile" [hoverable]="selectedtile" (pseudoClick)="selectedTile($event)"></app-checkerboard-tile>
      </mat-grid-tile>
    </ng-container>

  </mat-grid-list>

</div>
<div style="width:100%; text-align:center; margin">
  <p *ngFor="let counter of listTiles">
    {{counter}}
  </p>

</div>

<ng-template #someonewon>
  {{winningMessage}}
</ng-template>
